.THIS .changeIcon{
    
    background-image: url(/resource/sampleImage);
    background-position:center;
    background-size:cover;
    
}

.THIS .slds-form-element__label {
    
    display:inline-block;
    float:left;
}

.THIS .clear{
    float:left;
    background-color: #ff0000;
    color:white;
    
    
}

.THIS .slds-input {
    width:75%;
    display:inline-block;
    float:left;
}

.THIS .slds-modal__container {
    width: 100vw;
    height: 100vh;
    max-width: 80% !important;
}

.THIS .slds-modal__content{
    display: block;
    /*max-width: auto !important;
    //width:auto !important;*/
    height:100%;
    max-width: 100% !important;
    /*background-color:#ffffff;*/
    background-color: #ffffff;
    /*overflow-x: auto;*/
    overflow: hidden;
    
}
.THIS #content {
    height:50%;
    width:50%;
    display: block;
}
.THIS #canvasBoard{
    
    /*position: inline;
    min-height:100vh;
    min-width:100vw;*/
    margin:0;
    padding:0;
    border:1px solid #000000;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow:hidden;
	display: block;
   
    
}

.THIS .cursorChange{
    
    overflow:scroll;
    margin-left:0;  
    border:1px solid #000000;
    cursor: url(/resource/customCursor3), none;   
}

.THIS #colors{
    float:right;
}

.THIS .swatch{
    
    width: 25px;
    height: 25px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, 0.5), 0px 2px 2px rgba(0,0,0, 0.5);
    display: inline-block;
    margin-left:10px;
    background-color: cyan;
    
}

.THIS .swatch2{
    
    width: 25px;
    height:25px;
    border-radius: 15px;
    /*box-shadow: inset 0px 1px 0px rgba(255,255,255, 0.5), 0px 2px 2px rgba(0,0,0, 0.5);*/
    display: inline-block;
    margin-left:10px;
    background-color: cyan;
}

.THIS .swatch.active {
    
    border: 3px solid #b0adab;/*rgba(27, 82, 151, 1.0);*/
    box-shadow: inset 0px 1px 2px rgba(0,0,0, 0.5);
    
}

.THIS .customCursor{
    
    cursor: url(/resource/customCursor5), none;  
}

.THIS #colors {
    
    float:right;
}


.THIS #tools {
    
    float:left;
}

.THIS #toolbar{
    
    width:100%;
    height: 50px;
    padding: 0px 10px 10px 10px;
    /*position:fixed;*/
    /*top:0;*/
}

.THIS .tool{
    
    background-color: #ffffff;
    display:inline-block;
    text-align:center;
    padding:5px;
    margin-right: 3px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size:14px 14px;
    
    
}

.THIS .button_active{
    
    border: 2px solid #b0adab;
}

.THIS .trial{
    
    position:inline;
    float:right;
    margin-left:10px;
}

/*
.THIS .mycanvas{ 
    display: block;
	background:#fff;
}
*/

.THIS #input-3-message{
    margin-left: 80px;
    float:left;
}