<apex:page standardController="Lead" extensions="EditLeadCtrExt" >

    <apex:sectionHeader title="My Lead Edit" subtitle="New Lead"/>
    
    <apex:pageMessage severity="info" strength="5">A sample page message</apex:pageMessage>
    <apex:pagemessages />
    <apex:form >
        <apex:pageBlock >
                <apex:pageBlockButtons location="both" >
                    <apex:commandButton value="Save" action="{!myCustomSave}"/>
                </apex:pageBlockButtons>
                
            <apex:pageBlockSection >
                 <apex:inputField value="{!lead.FirstName}"/>
                 <apex:inputField value="{!lead.LastName}"/>
                 <apex:inputField value="{!lead.Company}"/>
                 <apex:inputField value="{!lead.Phone}"/>
                 <apex:inputField value="{!lead.MobilePhone}"/>
                 <apex:inputField value="{!lead.Status}"/>
                 
           <apex:pageBlockSectionItem >
                <apex:outputLabel >My Custom Value</apex:outputLabel>
                <apex:inputText value="{!myCustomValue}"/>
            </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
   
        </apex:pageBlock>
    </apex:form>

</apex:page>