<apex:page standardController="Account" extensions="NewAccountAndContactCtrExt" sidebar="false">
<apex:form >

  <apex:sectionHeader title="Account and Contact" subtitle="New Account and Contact"/>
    
    <apex:pagemessages />
    
    <div align="center">
        <apex:commandButton value="Save" action="{!save}"/>
        <apex:commandButton value="Cancel" action="{!cancel}"/>
    </div>
    
    <apex:pageBlock mode="edit">

        <apex:pageBlockSection title="Account Information" >
             <apex:outputField label="Account Owner" value="{!us.Name}"/>
             <apex:inputField value="{!acct.type}"/>
             <apex:inputField value="{!acct.Name}"/>       
             <apex:inputField value="{!acct.phone}"/>
             <apex:inputField value="{!acct.parentId}"/>
             <apex:inputField value="{!acct.fax}"/>
             <apex:inputField value="{!acct.accountnumber}"/>
             <apex:inputField value="{!acct.website}"/>
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="Address Information" >
            <apex:inputField value="{!acct.billingstreet}"/>
            <apex:inputField value="{!acct.shippingstreet}"/>
            <apex:inputField value="{!acct.billingcity}"/>
            <apex:inputField value="{!acct.shippingcity}"/>
            <apex:inputField value="{!acct.billingstate}"/>
            <apex:inputField value="{!acct.shippingstate}"/>
            <apex:inputField value="{!acct.billingpostalcode}"/>
            <apex:inputField value="{!acct.shippingpostalcode}"/>
            <apex:inputField value="{!acct.billingcountry}"/>
            <apex:inputField value="{!acct.shippingcountry}"/>
            
        </apex:pageBlockSection>        
        
    </apex:pageBlock>
    
    <apex:pageBlock tabStyle="Contact" mode="edit">
        <apex:pageBlockSection collapsible="false" title="Primary Contact Information">
            <apex:inputField value="{!cont.FirstName}"/>
            <apex:inputField value="{!cont.Phone}"/>
            <apex:inputField value="{!cont.LastName}"/>
            <apex:inputField value="{!cont.MobilePhone}"/>
            <apex:inputField value="{!cont.Title}"/>
            <apex:inputField value="{!cont.Fax}"/>
            <apex:inputField value="{!cont.Department}"/>
            <apex:inputField value="{!cont.Email}" required="true"/>
        </apex:pageBlockSection>
  
    </apex:pageBlock>
    
    <apex:pageBlock tabStyle="Lead" mode="edit">
    
            
        <apex:pageBlockSection collapsible="false" title="Free Gift! (Any Product Less Than $100)" columns="1" >
        
           <apex:inputCheckbox label="Avail of free gitf?" value="{!freegift}" required="false"/>
           <apex:inputField label="Product as gift" value="{!pri.Product2Id}" required="false"/>
            
        </apex:pageBlockSection>

    </apex:pageBlock>
    
    <div align="center">
        <apex:commandButton value="Save" action="{!save}"/>
        <apex:commandButton value="Cancel" action="{!cancel}"/>
    </div>
</apex:form>
</apex:page>